# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=desig938_myradio
DB_PASS=sua_senha_aqui
DB_NAME=desig938_myradio

# Configurações do Servidor
PORT=3000
NODE_ENV=production

# Segurança
SESSION_SECRET=virtualradioappsecretkey

# URLs
CLIENT_URL=https://virutalradio.h4xd66.easypanel.host/ 